@model MVCProject.Models.User
@{
    ViewData["Title"] = "Friend_Profile";
}


<div class="row p-0 m-0">
    <div class="col-lg-1"></div>
    <div class="cover col-lg-10 col-md-12 col-sm-12 col-xs-12">
        <div class="row" style="height: 97px;"></div>
        <div class="row">

            <div class="ProfilePicDiv col-3" style="z-index:1;">

                @{string ProfilePicture = "/Images/" + Model.UserPicture ?? ""; }
                <img class="ProfilePic img-thumbnail" src=@ProfilePicture>

            </div>

            @{ var name = Model.UserFirstName + " " + Model.UserLastName;}
            <div class="col-6 nameOfUser"> @name  </div>
            <div class="col-3" id="searchResult">
                @{
                    var currentUser = (User)ViewBag.CurrentUser;
                }
                @if (currentUser.FriendRequestReceivers.Any(f => f.Sender == Model))
                {
                    FriendRequestState tempState = currentUser.FriendRequestReceivers.SingleOrDefault(u => u.Sender == Model).State;
                    if (tempState == FriendRequestState.Accepted)
                    {
                        <button class="statusButton w-100" disabled>
                            <i class="fas fa-check statusButtonIcon"></i>
                            Friends
                        </button>
                    }
                    else if (tempState == FriendRequestState.Pending)
                    {
                        <button class="statusButton w-100" id="@Model.Id">
                            <i class="fas fa-user-check statusButtonIcon"></i>
                            Respond
                        </button>
                    }
                }
                else if (currentUser.FriendRequestSenders.Any(f => f.Receiver == Model))
                {
                    FriendRequestState tempState = currentUser.FriendRequestSenders.SingleOrDefault(u => u.Receiver == Model).State;
                    if (tempState == FriendRequestState.Accepted)
                    {
                        <button class="statusButton w-100" disabled>
                            <i class="fas fa-check statusButtonIcon"></i>
                            Friends
                        </button>
                    }
                    else if (tempState == FriendRequestState.Pending)
                    {
                        <button class="statusButton w-100" disabled>
                            <i class="fas fa-ellipsis-h statusButtonIcon"></i>
                            Pending
                        </button>
                    }
                }
                else
                {
                    <button class="statusButton w-100" id="@Model.Id">
                        <i class="fas fa-user-plus statusButtonIcon"></i>
                        Add Friend
                    </button>
                }
            </div>
        </div>
    </div>
</div>

<div class="row p-0 m-0">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 pl-3">
        <!-- hna fy bar Timline -- About -- Friends  -->
        <div class="row barTimeline">
            <div class="col-3"></div>
            <div class="col-3 Timeline">
                <a href="#" class="Timeline"> Timeline </a>
            </div>
            <div class="col-3 About">
                <a href="#" class="About"> About </a>
            </div>
            <div class="col-3 Friends">
                <a href="#" class="Friends"> Friends </a>
            </div>
        </div>
    </div>

</div>

<div class="row p-0 m-0 mt-3">


    <div class="offset-1 col-4 p-0">
        <div class="aboutpad col-12 m-0 p-0 pb-3">
            <partial name="AboutFriend.cshtml" model="@Model.ProfileViewModel" />
        </div>

        <div class="frnpad col-12 m-0 p-0 pb-3 mt-4" id="FriendsDiv">
            <partial name="Friends.cshtml" />
        </div>

    </div>



    @foreach (var item in Model.Posts)
    {

        <div class="createPost2 col-12 p-0 pb-1">
            <div class="row p-0 m-0">
                <img src=@ProfilePicture alt="" class="PrfilePic m-2">
                <div class="col-9 p-0">
                    <div class="row p-0 m-0 mb-1">
                        <span class="ProfileName">@name</span><br>
                    </div>
                    <div class="row p-0 m-0">
                        @{TimeSpan time = DateTime.Now - item.PostDateTime;
                            if (time == TimeSpan.Zero)
                            {
                                <span class="PostTime">now</span>
                            }
                            else if (time < TimeSpan.FromHours(1))
                            {
                                <span class="PostTime">@time.Minutes min</span>
                            }
                            else
                            {
                                <span class="PostTime">@time.Hours h</span>
                            }
                        }
                        <i class="fas fa-users ml-3 mt-1"></i>
                    </div>
                </div>
                <div class="postOptions col-1 p-0 ml-2">
                    <Select>
                        <option value=""></option>
                        <option value="">Remove Post</option>
                    </Select>
                </div>
            </div>

            <div class="row p-0 m-0 mt-1">
                <p class="PostText col-12">
                    @item.PostContent
                    @{string path = "/Images/" + item.PostImage; }
                    <img src=@path alt="" class="PostImg">

                </p>
                <hr class="col-11 m-0 p-0 ml-3" />
            </div>

            <div class="row p-0 m-0 mt-3">
                <div class="col-12">
                    <a href="#" class="ListOfLikes">Sara Atef Liked This And 15 Other</a>
                </div>
                <hr class="col-11 ml-3 mt-3 p-0 m-0" />
            </div>

            <div class="row p-0 m-0">
                <div class="Like col-6 pt-3 pb-3">
                    <span class="row p-0 m-0">
                        <i class="far fa-thumbs-up offset-4 col-1 p-0 mt-1"></i>
                        <span class="col-2 p-0">Like</span>
                    </span>
                </div>
                <div class="Comment col-6 pt-3 pb-3">
                    <span class="row p-0 m-0">
                        <i class="far fa-comments offset-4 col-1 p-0 mt-1"></i>
                        <span class="col-2 p-0">Comment</span>
                    </span>
                </div>
                <hr class="col-12 p-0 m-0">
            </div>

            <div class="row p-0 m-0 mt-3">
                <div class="col-1">
                    <img src=@ProfilePicture alt="" class="commentPic mt-1">
                </div>
                <div class="col-11 p-0">
                    <textarea id="commentTextArea" placeholder="Type Your Comment Here" class="typeComment"></textarea>
                </div>
            </div>

        </div>

    }

</div>





