@model MVCProject.Models.User
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="Headerfriend row m-0 p-0">
    <div class="col-1">
        <img src="~/Images/friends-icon-png-5.png" id="friendsIcon">
    </div>
    <div class="col-11">
        <span>Friends</span>
    </div>
</div>

@if (Model.FriendRequestSenders.Count() == 0 && Model.FriendRequestReceivers.Count() == 0)
{
    <div class="row  p-0 m-0 ml-3 mt-2" id="notFoundFriendsDiv">
        <p>You have no friends yet.</p>
    </div>
}
else
{
    int counter = 0;
    
    @foreach (var item in Model.FriendRequestSenders)
    {
        counter++;
        @if (item.State == FriendRequestState.Accepted)
        {
            <div class="row  p-0 m-0 mt-3">
                <div class="col-2">
                    <img src="~/Images/prof.png" class="rounded-circle w-100 h-100" />
                    @*<img src="@item.UserPicture" class="rounded-circle w-100 h-100" />*@
                </div>
                <div class="col-5">
                    <a class="font-weight-bold text-dark" asp-controller="Profile" asp-action="Friend_Profile" asp-route-id="@item.ReceiverId">@Html.DisplayFor(modelItem => item.Receiver.UserFirstName) @Html.DisplayFor(modelItem => item.Receiver.UserLastName)</a>
                </div>
                <div class="col-5">

                    <button class="btn btn-danger w-100 " id="@item.ReceiverId">
                        <i class="fas fa-user-minus"></i>
                        Unfriend
                    </button>
                </div>

                <hr class="col-8" />

            </div>
        }

    }

    counter = 0;


    @foreach (var item in Model.FriendRequestReceivers)
    {
        counter++;
        @if (item.State != FriendRequestState.Blocked)
        {
            <div class="row  p-0 m-0 mt-3">
                <div class="col-2">
                    <img src="~/Images/prof.png" class="rounded-circle w-100 h-100" />
                    @*<img src="@item.UserPicture" class="rounded-circle w-100 h-100" />*@
                </div>
                <div class="col-5 mt-2">
                    <a class="font-weight-bold text-dark" asp-controller="Profile" asp-action="Friend_Profile" asp-route-id="@item.SenderId">@Html.DisplayFor(modelItem => item.Sender.UserFirstName) @Html.DisplayFor(modelItem => item.Sender.UserLastName)</a>
                </div>
                <div class="col-5">
                    @if (item.State == FriendRequestState.Accepted)
                    {
                        <button class="btn btn-danger  w-100" id="@item.SenderId">
                            <i class="fas fa-user-minus"></i>
                            Unfriend
                        </button>
                    }
                    else if (item.State == FriendRequestState.Pending)
                    {
                        <button class="btn btn-primary w-100" id="@item.SenderId">
                            <i class="fas fa-user-check"></i>
                            Respond
                        </button>
                    }
                </div>

                <hr class="ml-3 col-10" />

            </div>
        }
    }
}
